*{
    box-sizing: border-box;
}

body{
    display:flex;
    min-height:100vh;
    flex-direction: column;
    margin: 0;
}

#main{
    display:flex;
    flex:1;
}

#main > article{
    flex:1  ;
    order:1;
    background: antiquewhite;
}
#main > nav{
    background:burlywood;
    order:3;
}
#main > aside{
    background: salmon;
    order:2;
}
#main > nav,
#main > aside{
    flex: 0 0 25vw;
}

header, footer{
    background: plum ;
    height: 20vh;
}

header, footer, aside, nav, article{
    padding: 25px;
}
